/* text portion of site */
body {
    background-color: aliceblue;
    .container {
        text-align: center;
    }
}

/* formatting map */
.map-container {
    position: absolute;
    height: 480px;
    /* if map isn't fullscreen, height must be specified or it won't display */
    bottom: 0;
    width: 100%;
    /* top and bottom gap outside container*/
}

/* formatting legend (main)*/
.legend {
    position:absolute;
    background-color: aliceblue;
    bottom: 0;
    right: 0;
    margin: 0 10px 30px 0;  /*top, right, bottom, left margins*/
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha); /*what does this do?*/
    max-width: 200px;
}

/* formatting legend elements*/
.legend span {
    display: inline-block;
    border-radius: 50%; /* curve border */
    /* create circles for each legend element  */
    height: 10px;
    width: 10px;
    margin-right: 2px; /*position of circle*/
} 

/* manually set legend circle colours */
/*  note: is there a quicker/easier way to do this? Can I change symbology further than colour? */
.legend div:nth-child(2) /*starts at 2*/ span {
    background-color: #c96bd5;
}
.legend div:nth-child(3) span {
    background-color: #6ab9fa;
}
.legend div:nth-child(4) span {
    background-color: #50fc01;
}
